<h1>GET Request Received</h1>
</br>
<div>Ingredients shown below</div>
<ul>
	{{#each dataList}}
		<li>{{this.type}}: {{this.qty}}
	{{/each}}
</ul>
</br>
<div id="results">Rating: {{rating}}</div>
</br>
<div></div>
