<h1 id="home">Welcome to Assignment #7</h1>
</br>
<div><i>Hello! Here's how to use the page.</i></div>
</br>
<div class="title">Recipe Grader</div>
	<p>This is a GET request. The recipe grader takes simple ingredients and qty and grades the value of the meal.To have your recipe graded, start by adding /Get to the address above. Then add "?" to add the ingredients. Next type the name and quantity in this format "name=qty" (example: "onion=1cup"). To add more ingredients, add the "&" symbol, then add another ingredient. Grading based on total number of ingredients and qty of each ingredient. Don't add too much, or too little. Enjoy!:)</p>
	<p>Example Entry: 52.36.48.188:3000/Get?onion=1&carrots=2&noodles=30</p>
	</br>
</br>
	
<div class="title">Small Survey</div>
	<p>This is a POST request. This survey is to review a fake product. To submit survey, Read the survey questions and select the radio button of your chioce to rate the product. Then hit submit. Enjoy!</p>
</br>
